/*
 *
 * K2 keyboard
 * 
 */

@font-face {
  font-family: SFUIDisplay-light;
  src: url('../k2/fonts/SF-UI-Display-Light.otf') format('opentype');
  font-weight: light;
  font-style: normal;
}  

@font-face {
  font-family: SFUIDisplay-regular;
  src: url('../k2/fonts/SF-UI-Display-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}  

.k2 {
  font-family: SFUIDisplay-regular, Avenir;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  font-size: 28px;
  z-index: 5000;
}

/*
 * Tab bar
 */
.k2 .k2-tab-bar {
	display: -webkit-box;
  height: 44px;
  width: 100%;
  border-top: 1px solid;
}

.k2 .k2-tab-wrapper {
	position: relative;
	height: 44px;
}

.k2 .k2-tab-wrapper.right {
	position: absolute;
	right: 0;
}

.k2 .k2-tab-button {
  height: 100%;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  color: #000000;
}

.k2 .k2-tab-action {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 44px;
}

/*
 * Tab bar theme - iOS
 */
.k2 .keyboard-ios .k2-tab-bar {
  background-color: #EBECEE;
}

.k2 .keyboard-ios .k2-tab-button {
  color: #007AFF;
}

.k2 .keyboard-ios .k2-tab-button .k2-key-tab-prev svg,
.k2 .keyboard-ios .k2-tab-button .k2-key-tab-next svg {
  width: 20px;
  height: auto;
  margin-top: 5px;
}

.k2 .keyboard-ios .k2-tab-button .k2-key-tab-prev path,
.k2 .keyboard-ios .k2-tab-button .k2-key-tab-next path {
  fill: #007AFF;
}

.k2 .keyboard-ios .k2-tab-button.disabled .k2-key-tab-prev path,
.k2 .keyboard-ios .k2-tab-button.disabled .k2-key-tab-next path {
  fill: #CCCCCC;
}

/*
 * Animations
 */
/*
.k2.animation-slide-up.ng-hide:not(.ng-hide-animate) {
  display: block !important;
}
*/
.k2.animation-slide-up {
  -webkit-transition: all 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  -moz-transition: all 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  -o-transition: all 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  transition: all 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
  -webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
  transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
  transform: translate3d(0,0,0);
}

.k2.animation-slide-up.ng-hide {
  transform: translate3d(0,100%,0);
}

.k2.animation-pop {
  -webkit-transition: transform linear 150ms;
  transition: transform linear 150ms;
  transform: scale3d(1, 1, 1);
}

.k2.animation-pop.ng-hide {
  transform: scale3d(0, 0, 1);
}
