<div class="k2-acc-bar k2-tab-bar">
	<div class="k2-tab-wrapper {{showButton0Action == false ? 'hidden' : ''}}" style="{{button0WrapperStyle}}">
		<div class="k2-tab-button" ng-click="button0Action($event)" style="{{button0Style}}">
			<div class="k2-tab-action" bind-html-compile="button0Html" style="{{button0FontSize}}"></div>
		</div>
	</div>
	<div class="k2-tab-wrapper {{showButton1Action == false ? 'hidden' : ''}}" style="{{button1WrapperStyle}}">
		<div class="k2-tab-button" ng-click="button1Action($event)" style="{{button1Style}}">
			<div class="k2-tab-action" bind-html-compile="button1Html" style="{{button1FontSize}}"></div>
		</div>
	</div>
	<div class="k2-tab-wrapper {{showbutton2Action == false ? 'hidden' : ''}}" style="{{button2WrapperStyle}}">
		<div class="k2-tab-button" ng-click="button2Action($event)" style="{{button2Style}}">
			<div class="k2-tab-action" bind-html-compile="button2Html" style="{{button2FontSize}}"></div>
		</div>
	</div>
</div>
